.home .hentry {
  margin-bottom: 2.5em;
}

.entry-summary {
  margin-top: 0.5em;
}

/* ENTRY META */
.entry-meta {
  color: @gray-light;
  font-size: 0.9em;

  span {
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .updated {
    font-weight: 500;
    padding: 0 0.2em;
  }
}
